.product-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .shop-list {
        float: left;
        order: 1;
        min-width: 400px;
        width: 50%;

        .checkout-list {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 0;
        }
    }

    .product-list {
        float: left;
        order: 2;
        min-width: 500px;
        width: 50%;
    }
}