.App-header {
  background-image: url('./home.jpeg');
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
