@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Pacifico&display=swap');

body {
  background-image: url('./home.jpeg');
  background-position: center;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.App{
  height: 100vh;
  overflow-y: scroll;
}

.main {
  background-image: linear-gradient(to right, rgb(46, 45, 45) , rgb(53, 53, 45));
  min-height: 100vh;
  padding:6vh 2em 0vh 2em;
  color: white;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}