@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Pacifico&display=swap');

body {
  background-image: url('./home.jpeg');
  background-position: center;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.App{
  height: 100vh;
  overflow-y: scroll;
}